body {
    position: relative;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999;
    + .container {
        padding-top: 90px;
    }
}

.aside-fijo {
    position: fixed;
    top: 80px;
    margin-right: 5vw;
}

.mdiano-slideshow {
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

.mdiano-menu-aside {
    li {
        display: block;
        list-style-type: none;
         width: 100%;
        a {
            background-color: #F23CE2;
            color: white;
            display: block;
            width: 100%;
            padding: 1rem;
            margin-bottom: 0.2rem;
            text-align: center;
            text-decoration: none;
        }
        a:hover {
            background-color: #B222A6;
        }
    }
    li + li {
        a {
            background-color: #F249E3;
        }
    }
    li + li +li {
        a {
            background-color: #F255E4;
        }
    }
    li + li + li + li {
        a {
            background-color: #F261E5;
        }
    }
    li + li + li + li + li {
        a {
            background-color: #F26DE6;
        }
    }
    li + li + li + li + li + li {
        a {
            background-color: #F279E8;
        }
    }
    li + li + li + li + li + li + li {
        a {
            background-color: #F285E9;
        }
    }
    li + li + li + li + li + li + li + li {
        a {
            background-color: #F291EA;
        }
    }
}

hr {
    height: 2px; 
    background-color: #B222A6; 
    border: none;
}

.mdiano-footer {
    background-color: #B222A6;
    color: white;
    text-align: center;
}

.mdiano-cr {
    line-height: 5rem;
}
.mdiano-social {
    a{
        color: white;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 3rem;
        text-decoration: none;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    a:hover {
        color: #F22EE1;
        text-decoration: none;
    }
}

.mdiano-ms {
    height: 3rem;
    width: auto;
    margin-top: 1rem;
}